{% extends 'admin_panel/base.html' %}
{% load static %}
{% block content %}

    <div class="product">
        <h6>Customer : {{ data.customer }}</h6>
        <h6>First Name : {{ data.first_name }}</h6>
        <h6>Last Name : {{ data.last_name }}</h6>
        <h6>Phone : {{ data.phone }}</h6>
        <h6>Email : {{ data.email }}</h6>
        <h6>Address : {{ data.address }}</h6>
        <h6>Company Name : {{ data.company_name }}</h6>
        <h6>City : {{ data.city }}</h6>
        <h6>Pincode : {{ data.pincode }}</h6>
        <h6>Country : {{ data.country }}</h6>

    </div>

    <a href="{% url 'dashboard:quote_requests' %}">Go back ?</a>

{% endblock content %}