{% extends 'admin_panel/base.html' %}
{% load static %}
{% block content %}

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Edit Product Variant</h4>
                    </div><!--end col-->
                    <div class="col-auto align-self-center">
                        {% comment %} <a class="btn btn-outline-info btn-icon-text"   href="{% url 'dashboard:industry_create' %}" >Create <i class="ti-plus btn-icon-append"></i></a> {% endcomment %}
                        <a class="btn btn-outline-info btn-icon-text"   href="{% url 'auth_logout' %}" >Logout <i class="ti-plus btn-icon-append"></i></a>
                    </div><!--end col-->  
                </div><!--end row-->                                                              
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <!-- end page title end breadcrumb -->
    <form class="ajax reset redirect" action={% url 'dashboard:edit_product_variants' id=id %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="card-body card-padding">
            {% for field in form %}
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group fg-line">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                            {% if field.field.required %}
                                <small class="star">*</small>
                            {% endif %}

                            {% if field.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ field.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                            {% endif %}
                        </label>
                        {{ field }}

                        {% if field.errors %}
                            <label class="error">{{ field.errors.as_text }}</label>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
                            
            <div class="m-t-20">
            <button type="submit" class="btn btn-info waves-effect">Submit</button>
            </div>
        </div>
    </form>
    <a href="{% url 'dashboard:product_variants' %}">Go back</a>

{% endblock %}