<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Rfqlist Form</h1>
    <form action="{% url 'customers:edit_rfq' id=id%}" method="post">
        {% csrf_token %}
        {% comment %} <label for="{{form.customer.id_for_label}}">{{form.customer.label}}</label>
        {{form.customer}}
        <label for="{{form.product_variant.id_for_label}}">{{form.product_variant.label}}</label>
        {{form.product_variant}}
        <label for="{{form.quantity.id_for_label}}">{{form.quantity.label}}</label>
        {{form.quantity}} {% endcomment %}
        {{ form.as_p }}
        <button>Update rfq</button>
    </form>
    {% if message %}
    <p>{{message}}</p>
    {% endif %}   
    <a href="{% url 'customers:rfqlist' %}">go back</a>
</body>
</html>